{% extends 'accounts/main.html' %}


{% block title %}
    <title>Dashboard</title>
{% endblock title %}


{% block content %}
<br>
<div class="row">
    <div class="col">
        <div class="card card-body">
            <form action="" method="POST">
                {% csrf_token %}
                {{formset.management_form}}
                {% for form in formset %}
                    {{form}}
                    <hr>
                {% endfor %}

                <input class="btn btn-sm btn-primary btn-block" type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>


{% endblock content %}