{% extends 'accounts/main.html' %}


{% block title %}
    <title>User Statistics</title>
{% endblock title %}


{% block content %}
    
<br>


<div class="row mx-auto">
    <div class="col-md mx-auto">
        <div class="card card-body mx-auto">
            <h1> Password reset </h1>
            <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
            
            <form action="{% url 'password_reset_sent' %}" method="get">
                {% csrf_token %}
                {{form}}
                
                <input type="submit" value="Reset Password" class="btn btn-info">
            </form>
        </div>
    </div>
</div>



    {% endblock content%}